html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter;
}

@media (max-width: 600px) {
  html {
    font-size: 12px;
  }
}

* {
  box-sizing: border-box;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
/* #main {
  animation-duration: 0.5s;
  animation-name: slideIn;
  animation-fill-mode: forwards;
} */

@layer utilities {
  .box-shadow-inner {
    box-shadow: 0 0 0 1px #8d7dff, inset 0 0 0 1px #8d7dff;
  }
}
