html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter;
}

@media (max-width: 600px) {
  html {
    font-size: 12px;
  }
}

* {
  box-sizing: border-box;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.link:hover > span {
  width: 100%;
}
