html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter;
}

* {
  box-sizing: border-box;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideIn {
  from {
    transform: translateY(50px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
/* #main {
  animation-duration: 1.5s;
  animation-name: slideIn;
  animation-fill-mode: forwards;
} */
